* {
  margin: 0;
  padding: 0; }

.banner {
  animation: bounceInLeft;
  animation-duration: 2s; }

h1 {
  color: #578963;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 600;
  font-size: 50px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px; }

/**INICIO PRODUCTOS-INDEX**/
.productos {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px; }
  .productos div {
    display: grid;
    grid-template-rows: 1fr;
    justify-self: center;
    align-self: end;
    grid-row-gap: 20px; }

.btn-carrito {
  background-color: black;
  color: white;
  height: 40px; }

/**FIN PRODCUTOS-INDEX**/
/**INICIO REDES**/
.redes a {
  padding: 15px; }

.redes a:hover {
  color: #578963;
  font-size: 24px; }

.redes div {
  display: flex;
  justify-content: center; }

/**FIN REDES**/
/**INICIO FOOTER**/
footer {
  padding: 20px;
  background-color: #578963;
  font-family: 'Ibarra Real Nova', serif;
  color: white;
  font-size: 16px; }
  footer div ul {
    list-style: none;
    padding: none; }

.contactanos ul {
  padding: 0; }

.copyright {
  text-align: center; }

/**FIN FOOTER**/
/** INICIO SECCION TALLERES**/
.talleres_intro p {
  margin-left: 15px;
  font-size: 20px; }

.talleres {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 200px;
  margin-left: 100px;
  margin-right: 100px; }
  .talleres div {
    margin: 15px; }
  .talleres p {
    margin-left: 15px;
    font-size: 17px; }
  .talleres img {
    align-self: center;
    padding-bottom: 20px;
    width: 100%; }

h2 {
  margin: 15px;
  text-align: center; }

.formulario {
  display: flex;
  justify-content: center; }

/**FIN SECCION TALLERES**/
/**INICIO SECCION TIPS**/
.tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "uno dos" "tres cuatro " "cinco cinco" "seis seis"; }
  .tips .uno {
    grid-area: uno; }
  .tips .dos {
    grid-area: dos;
    align-self: center; }
  .tips .tres {
    grid-area: tres;
    align-self: center; }
  .tips .cuatro {
    grid-area: cuatro;
    justify-self: end; }
  .tips .cinco {
    grid-area: cinco; }
  .tips .seis {
    grid-area: seis; }
  .tips p {
    margin: 15px;
    margin-bottom: 30px; }
  .tips h3 {
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 500;
    font-size: 30px;
    margin: 15px;
    text-align: center; }
  .tips img {
    height: 400px; }

/**FIN SECCION TIPS**/
/**INICIO SECCION PRODUCTOS**/
.h2productos {
  text-align: start;
  padding-bottom: 20px; }

/**FIN SECCION PRODUCTOS**/
/**INICIO SECCION CONTACTOS**/
.texto-contacto {
  margin: 20px;
  margin-bottom: 30px;
  font-size: 20px; }

.formulario {
  display: flex;
  align-content: center;
  margin: 20px;
  margin-top: 90px;
  margin-bottom: 90px; }

/**FIN SECCION CONTACTOS**/
@media (min-width: 600px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center; }
  .talleres {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "uno dos dos ." ". tres tres cuatro " ". cinco cinco ." ". seis seis ."; }
    .tips .uno {
      grid-area: uno; }
    .tips .dos {
      grid-area: dos;
      align-self: center; }
    .tips .tres {
      grid-area: tres;
      align-self: center; }
    .tips .cuatro {
      grid-area: cuatro;
      justify-self: end; }
    .tips .cinco {
      grid-area: cinco; }
    .tips .seis {
      grid-area: seis; }
    .tips p {
      margin: 15px; } }

@media (min-width: 1000px) {
  .productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-content: center; }
  .tips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "uno dos dos ." ". tres tres cuatro " ". cinco cinco ." ". seis seis ."; }
    .tips .uno {
      grid-area: uno; }
    .tips .dos {
      grid-area: dos;
      align-self: center; }
    .tips .tres {
      grid-area: tres;
      align-self: center; }
    .tips .cuatro {
      grid-area: cuatro;
      justify-self: end; }
    .tips .cinco {
      grid-area: cinco; }
    .tips .seis {
      grid-area: seis; }
    .tips p {
      margin: 15px; } }
